<h1>Editing job report</h1>

<%= render "form", job_report: @job_report %>

<br>

<div>
  <%= link_to "Show this job report", @job_report %> |
  <%= link_to "Back to job reports", job_reports_path %>
</div>
